<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Message</a><br/>

<table>
    <tr>
        <th>ID</th>
        <th>Content</th>
        <th>PostedDate</th>
        <th>SentBy</th>

    </tr>

    <tr th:each="message : ${messages}">
    <td th:text="${message.id}"></td>
    <td th:text="${message.Content}"></td>
    <td th:text="${message.postedDate}"></td>
        <td th:text="${message.SentBy}"></td>

    <td>

        <a th:href ="@{/detail/{id}(id=${message.id})}">Details</a>


    </td>


    </tr>

</table>

</body>
</html>